@import "variables";

.container {
  margin: 0 .5em;
  width: auto;

  @media(min-width: $tablet) {
    margin: 0 auto;
    width: $grid-tablet;
  }

  @media(min-width: $desktop) {
    width: $grid-desktop;
  }

  @media(min-width: $widescreen) {
    width: $grid-widescreen;
  }
}