@mixin flex-container(){
  width: 100%;
  display: table;
  table-layout: fixed;
}

@mixin flex-element() {
  display: table-cell;
  vertical-align: top;
}

@mixin cf() {
  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin grid($p: 20px) {
  @media(min-width: $tablet){
    @include cf();
    margin-right: -$p;
  }
}

@mixin column($ratio, $p: 20px) {
  float: left;
  width: calc(#{100% * $ratio} - #{ $p });
  margin: 0 $p $p 0;
}