@import "mixins";
//Fonts
$font-sans:         "Open sans", Helvetica, sans-serif;
$font-serif:        "Playfair display", serif;

//Breakpoints
$tablet:            740px;
$desktop:           1000px;
$widescreen:        1180px;

//Grid width
$grid-tablet:       720px;
$grid-desktop:      960px;
$grid-widescreen:   1140px;

//Colors
$gunmetalgrey:      #333333;
$offwhite:          #FFFFF2;
