
<div class="nav">
  <div class="nav-usps">
    <div class="nav-usp">Exclusive Sortiment</div>
    <div class="nav-usp">Personliche</div>
    <div class="nav-usp">Versandkostenfrei</div>
  </div>
  <div class="nav-header">
    <div class="userMenu">
      <img src="http://localhost:3000/assets/home/logo.png" class="logo">
      <div class="container">
        <div class="menu">
          <a href="#" class="menu-item">Weine</a>
          <a href="#" class="menu-item">Winzer</a>
          <a href="#" class="menu-item">Aktuelles</a>
          <a href="#" class="menu-item">Über Uns</a>
          <a href="#" class="menu-item">Kontact</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero">
  <img src= "http://localhost:3000/assets/home/426.jpg" class="hero-image">
  <p class="hero-subtext">Die besten Rotweine bis zu 30% reduziert</p>
  <h1 class="hero-heading">Frühlingsangebot:Rotweine Promotion</h1>
  <a href="#" class="hero-cta">Jetzt Einkaufen</a>
</div>

<section>
  <h1>Wein Kollection</h1>
  <div class="collection">
    <a href="#"class="collection-item">
      <img src= "http://localhost:3000/assets/home/weissweine.png" class="collection-item-image">
      <p class="collection-item-title">Weissweine</p>
      <p class="collection-item-subtitle">459 Artikels</p>
    </a>
    <a href="#"class="collection-item">
      <img src= "http://localhost:3000/assets/home/rotweine.png" class="collection-item-image">
      <p class="collection-item-title">rotweine</p>
      <p class="collection-item-subtitle">69 Artikels</p>
    </a>
    <a href="#"class="collection-item">
      <img src= "http://localhost:3000/assets/home/shaumweine.png" class="collection-item-image">
      <p class="collection-item-title">schaumweine</p>
      <p class="collection-item-subtitle">89 Artikels</p>
    </a>
    <a href="#"class="collection-item">
      <img src= "http://localhost:3000/assets/home/roseweine.png" class="collection-item-image">
      <p class="collection-item-title">roseweine</p>
      <p class="collection-item-subtitle">29 Artikels</p>
    </a>
    <a href="#"class="collection-item">
      <img src= "http://localhost:3000/assets/home/sudweine.png" class="collection-item-image">
      <p class="collection-item-title">sudweine</p>
      <p class="collection-item-subtitle">59 Artikels</p>
    </a>
  </a>
</div>
</section>
