<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/main.css">
<header>
  <div class="header-usps"></div>
  <div class="header-menu"></div>
</header>

<section class="hero">
  <!-- <something class="hero-somethingElse"></something> -->
  <img src="/assets/home/426.jpg" alt="hero image"></img>
  <!-- Not sure how to style just the 30%; leaving this to review later -->
  <p1 class="hero-offer">BIS ZU </p1>
  <p2 class="hero-discount">30%</p2>
  <p3 class="hero-coupon">RABATT</p3>
</section>

<section class="collection">
  <!-- Use Skeleton to get the right number of columns, and add <img>s
       and <p>s. -->
</section>

<section class="invitations">
</section>

<section class="suggestions">
</section>

<section class="news">
</section>

<section class="summary">
  <!-- Start here! This needs a paragraph, a heading and two more paragraphs. Use
       Skeleton to put everything inside a centered ten column box. -->
  <h1 class="summary-title-1">Drinking Milk and Kicking Ass.</h1>
  <h2 class="summary-title-2">Get to Know Us!</h2>
  <p class="summary-paragraph">Dear Sir stroke Madam, I am writing to inform you of a fire which has broken out at the premises of... Oh my God. I didn't even know Smarties made a cereal. They don't. It's just Smarties in a bowl with milk. Dear Sir stroke Madam. Fire, exclamation mark. Fire, exclamation mark. Help me, exclamation mark. 123 Carrendon Road. Looking forward to hearing from you. All the best, Maurice Moss.</p>
  <p class="summary-paragraph">I'm a 32 year old IT-man who works in a basement. So, remember the new number! 0118 999! 88199, 9119 725! ... 3! 0115... no... 0118... no... 0118 999 ... 3. Hello? Is this the emergency services? Then which country am I speaking to? Hello? Hello? Huh, what you think I'm afraid of you? I'm not afraid of you. Oh really? Then why don't you come down and make me then. Huh, what you think I'm afraid of you? I'm not afraid of you.</p>
</section>
<!-- changed from a section to a div so that the text can float on top of the image-->
<div class="contact-image">
  <img src="/assets/home/grapes.jpg" alt="contact-image"></img>
  <h1 class="contact-usp">Kontaktieren Sie uns!</h1>
  <h2 class="contact-help">Wir helfen Ihnen gerne weiter!</h2>
  <div class="contact-phone">+49 160 4379290</div>
  <div class="contact-email">info@boucher.ch</div>
</div>

<footer>
  <div class="footer-logo"></div>
  <div class="footer-newsletter"></div>
    <p class="footer-newsletter-usp"></p>
    <div class="footer-newsletter-email-box"></div>
    <div class="footer-newsletter-add"></div>
  <div class="footer-menu"></div>
    <h2 class="footer-menu-rot">Beliebte Rotweine</h2>
      <p class="footer-menu-rot-usp">Pilgrim</p>
      <p class="footer-menu-rot-usp">Gigondas Le Claux</p>
      <p class="footer-menu-rot-usp">Barolo Ca' Mia</p>
      <p class="footer-menu-rot-usp">Altrovino</p>
      <p class="footer-menu-rot-usp">Montecastro</p>
    <h2 class="footer-menu-weiss">Beliebte Schaumweine</h2>
      <p class="footer-menu-weiss-usp">Prosecco Circle</p>
      <p class="footer-menu-weiss-usp">Special Cuvée Brut</p>
      <p class="footer-menu-weiss-usp">Brut Inital</p>
      <p class="footer-menu-weiss-usp">1900 Riesling Brut</p>
      <p class="footer-menu-weiss-usp">Riesling Sekt</p>
    <h2 class="footer-menu-rebsorten"></h2>
      <p class="footer-menu-rebsorten-usp">Riesling</p>
      <p class="footer-menu-rebsorten-usp">Chardonnay</p>
      <p class="footer-menu-rebsorten-usp">Nebbiolo</p>
      <p class="footer-menu-rebsorten-usp">Tempranillo</p>
    <h2 class="footer-menu-winzer">Beliebte Winzer</h2>
      <p class="footer-menu-winzer-usp">Dr. Loosen</p>
      <p class="footer-menu-winzer-usp">Bassermann Jordan</p>
      <p class="footer-menu-winzer-usp">Vigneti Massa</p>
      <p class="footer-menu-winzer-usp">Duemani</p>
      <p class="footer-menu-winzer-usp">Philip Togni</p>
  <div class="footer-sitemap"></div>
  <div class="footer-copyright"></div>
</footer>
