<header>
  <div class="header-usps"></div>
  <div class="header-menu"></div>
</header>

<section class="hero">
  <!-- <something class="hero-somethingElse"></something> -->
  <img src="/assets/home/426.jpg" alt="hero image"></img>
  <!-- Not sure how to style just the 30%; leaving this to review later -->
  <p1 class="hero-offer">BIS ZU </p1>
  <p2 class="hero-discount">30%</p2>
  <p3 class="hero-coupon">RABATT</p3>
</section>

<section class="collection">
  <!-- Use Skeleton to get the right number of columns, and add <img>s
       and <p>s. -->
</section>

<section class="invitations">
</section>

<section class="suggestions">
</section>

<section class="news">
</section>

<section class="summary">
  <!-- Start here! This needs a paragraph, a heading and two more paragraphs. Use
       Skeleton to put everything inside a centered ten column box. -->
  <h1 class="summary-title-1">Kicking Ass and drinking Milk.</h1>
  <h2 class="summary-title-2">Get to Know Us!</h2>
  <p class="summary-paragraph">Dear Sir stroke Madam, I am writing to inform you of a fire which has broken out at the premises of... Oh my God. I didn't even know Smarties made a cereal. They don't. It's just Smarties in a bowl with milk. Dear Sir stroke Madam. Fire, exclamation mark. Fire, exclamation mark. Help me, exclamation mark. 123 Carrendon Road. Looking forward to hearing from you. All the best, Maurice Moss.</p>
  <p class="summary-paragraph">I'm a 32 year old IT-man who works in a basement. Yes, I do the whole Lonely Hearts thing! So, remember the new number! 0118 999! 88199, 9119 725! ... 3! 0115... no... 0118... no... 0118 999 ... 3. Hello? Is this the emergency services? Then which country am I speaking to? Hello? Hello? Huh, what you think I'm afraid of you? I'm not afraid of you. Oh really? Then why don't you come down and make me then. Huh, what you think I'm afraid of you? I'm not afraid of you.</p>
</section>

<section class="contact">
  <div class="contact-phone">+49 160 4379290</div>
  <div class="contact-email">info@boucher.ch</div>
</section>

<footer>
  <div class="footer-logo"></div>
  <div class="footer-newsletter"></div>
  <div class="footer-menu"></div>
  <div class="footer-sitemap"></div>
  <div class="footer-copyright"></div>
</footer>
