<!DOCTYPE html>
<html>
<head>
  <title>Boucherville</title>
  <link rel="stylesheet" media="screen" href="/assets/skeleton.css">
  <link rel="stylesheet" media="screen" href="/assets/application.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-usps"></div>
    <div class="header-menu"></div>
  </header>

  <section class="hero">
    <!-- <something class="hero-somethingElse"></something> -->
    <img src="/assets/home/426.jpg" alt="hero image"></img>
    <!-- Not sure how to style just the 30%; leaving this to review later -->
    <p class="hero-offer">BIS ZU </p>
    <p class="hero-discount">30%</p>
    <p class="hero-coupon">RABATT</p>
  </section>

  <section class="collection">
    <!-- Use Skeleton to get the right number of columns, and add <img>s
  and <p>s. -->
    <div class="container">
      <div class="row">
        <div class="three columns">
          <img src="/assets/home/weissweine.png" class="wine-img" alt="weissweine">
        </div>
        <div class="three columns">
        <img src="/assets/home/rotweine.png" class="wine-img" alt="rotweine">
        </div>
        <div class="three columns">
        <img src="/assets/home/schaumweine.png" class="wine-img" alt="schaumweine">
        </div>
        <div class="three columns">
        <img src="/assets/home/roseweine.png" class="wine-img" alt="roséweine">
        </div>
      </div>
    </div>
  </section>

  <section class="invitations">
  </section>

  <section class="suggestions">
  </section>

  <section class="news">
  </section>

  <section class="summary">
    <!-- Start here! This needs a paragraph, a heading and two more paragraphs. Use
       Skeleton to put everything inside a centered ten column box. -->
    <h1 class="summary-title-1">Frühjahrsweine</h1>
    <h2 class="summary-title-2">Get to Know Us!</h2>
    <p class="summary-paragraph">Dear Sir stroke Madam, I am writing to inform you of a fire which has broken out at the premises of... Oh my God. I didn't even know Smarties made a cereal. They don't. It's just Smarties in a bowl with milk. Dear Sir stroke Madam. Fire, exclamation
      mark. Fire, exclamation mark. Help me, exclamation mark. 123 Carrendon Road. Looking forward to hearing from you. All the best, Maurice Moss.</p>
    <p class="summary-paragraph">I'm a 32 year old IT-man who works in a basement. So, remember the new number! 0118 999! 88199, 9119 725! ... 3! 0115... no... 0118... no... 0118 999 ... 3. Hello? Is this the emergency services? Then which country am I speaking to? Hello? Hello?
      Huh, what you think I'm afraid of you? I'm not afraid of you. Oh really? Then why don't you come down and make me then. Huh, what you think I'm afraid of you? I'm not afraid of you.</p>
  </section>
  <!-- changed from a section to a div so that the text can float on top of the image-->
  <div class="contact">
    <img src="/assets/home/grapes.jpg" alt="contact-image"></img>
    <h1 class="contact-usp">Kontaktieren Sie uns!</h1>
    <h2 class="contact-help">Wir helfen Ihnen gerne weiter!</h2>
    <!-- add hr divider inside div to limit width, center div and give width-->
    <div class="contact-phone">+49 160 4379290</div>
    <div class="contact-email">info@boucher.ch</div>
  </div>

  <footer>
    <div class="footer-logo"></div>
    <div class="footer-newsletter"></div>
    <p class="footer-newsletter-usp"></p>
    <div class="footer-newsletter-email-box"></div>
    <div class="footer-newsletter-add"></div>
    <div class="container"></div>
    <div class="row">
      <div class="two columns"></div>
      <h2 class="footer-menu-weiss">Beliebte Weissweine</h2>
      <ul class="footer-menu">
        <li>
          <a href="https://www.google.com">Riesling Erdener Prälat</a>
        </li>
        <li>
          <a href="https://www.google.com">Meursault Genevrières</a>
        </li>
        <li>
          <a href="https://www.google.com">Sauvignon St. Valentin</a>
        </li>
        <li>
          <a href="https://www.google.com">Blanco Gran Reserva</a>
        </li>
        <li>
          <a href="https://www.google.com">Derthona Sterpi</a>
        </li>
      </ul>
      <h2 class="footer-menu-rot">Beliebte Rotweine</h2>
      <ul class="footer-menu">
        <li>
          <a href="https://www.google.com">Pilgrim</a>
        </li>
        <li>
          <a href="https://www.google.com">Gigondas Le Claux</a>
        </li>
        <li>
          <a href="https://www.google.com">Barolo Ca' Mia</a>
        </li>
        <li>
          <a href="https://www.google.com">Altrovino</a>
        </li>
        <li>
          <a href="https://www.google.com">Montecastro</a>
        </li>
      </ul>
      <h2 class="footer-menu-schaum">Beliebte Schaumweine</h2>
      <ul class="footer-menu">
        <li>
          <a href="https://www.google.com">Prosecco Circle</a>
        </li>
        <li>
          <a href="https://www.google.com">Special Cuvée Brut</a>
        </li>
        <li>
          <a href="https://www.google.com">Brut Inital</a>
        </li>
        <li>
          <a href="https://www.google.com">1900 Riesling Brut</a>
        </li>
        <li>
          <a href="https://www.google.com">Riesling Sekt</a>
        </li>
      </ul>
      <h2 class="footer-menu-rebsorten">Beliebte Rebsorten</h2>
      <ul class="footer-menu">
        <li>
          <a href="https://www.google.com">Riesling</a>
        </li>
        <li>
          <a href="https://www.google.com">Chardonnay</a>
        </li>
        <li>
          <a href="https://www.google.com">Spätburgunder</a>
        </li>
        <li>
          <a href="https://www.google.com">Nebbiolo</a>
        </li>
        <li>
          <a href="https://www.google.com">Tempranillo</a>
        </li>
      </ul>
      <h2 class="footer-menu-winzer">Beliebte Winzer</h2>
      <ul class="footer-menu">
        <li>
          <a href="https://www.google.com">Dr. Loosen</a>
        </li>
        <li>
          <a href="https://www.google.com">Bassermann Jordan</a>
        </li>
        <li>
          <a href="https://www.google.com">Vigneti Massa</a>
        </li>
        <li>
          <a href="https://www.google.com">Duemani</a>
        </li>
        <li>
          <a href="https://www.google.com">Philip Togni</a>
        </li>
      </ul>
      <div class="footer-sitemap"></div>
      <div class="footer-copyright"></div>
      <p>Copyright 2016 Boucherville. All rights reserved.</p>
  </footer>
</body>

</html>
