@import "base/variables";
.hero {
  text-align: center;
  color: $gunmetalgrey;
}

.hero-subtext {
  font-size: 25px;
  font-family: $font-serif;
  margin-bottom: 0px;
}

.hero-heading {
  font-size: 52px;
  font-weight: bold;
  font-family: $font-serif;
  margin-top: 11px;
  margin-bottom: 10px;
}

.hero-cta {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $merlot;
  font-weight: bold;
}

.hero-cta:before {
  content: "> ";
}
