@import "base/variables";

.nav-usp {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.nav-usp:first-child {
  text-align: left;
}

.nav-usp:last-child {
  text-align: right;
}

.nav-usps {
  background-color: $gunmetalgrey;
  color: $offwhite;
  padding: 5px 25px 8px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .05em;
}

.nav-header {
  color: $babygrey;
  padding: 5px 25px 8px;
  border-bottom: 1px solid $babygrey;
}
