/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 */

/*General Rules*/

 img {
   position: relative;
   width: 100%;
 }

 .offer-discount {
   font-family: Playfair display;
 }

/*Header*/

.nav-usp {
  display: inline-block;
  width: 33%;
  text-align: center;

}

.nav-usp:first-child {
  text-align: left;
}

.nav-usp:last-child {
  text-align: right;
}

.nav-usps {
  background-color: #333333;
  color: #FFFFF2;
  padding: 5px 25px 8px;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: .05em;
  text-decoration: none;
}

.nav-header {
  color: #dddddd;
  padding: 5px 25px 8px;
  border-bottom: 1px solid #dddddd;
}

.header-usps-logo {
  width:250px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}
.header-usp{
  font-size: 0.75em;
  text-align: right;
  color: grey;
}

.hero {
  position: relative;
}

.hero-offer {
  position: absolute;
  top: 10px;
  right: 20px;
}

.hero-offer-discount {
  color: red;
  font-size: 30px;
  display: block;
}

.suggestions-title {
  text-align: center;
}
/*Summary/SEO Text*/

.summary {
  color: #333333;
  font-family: Playfair display;
  font-size: 1.6em;
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
}

.summary-title-1 {
  font-size: 0.55em;
  text-transform: uppercase;
  margin-bottom: .2em;
}

.summary-title-2 {
  font-size: 1.5em;
  margin-bottom: .5em;
  margin-top: 0.2em;
}

.summary-paragraph {
  font-size: 0.65em;
 /*font-weight should be added here*/
}


/*Wine Collection*/

.collection {
  position: relative;
  width: 100%;
  margin 0 auto;
  padding: 20px;
  text-align: center;
}

.wine-img {
  max-width: 90px;
  height: 120px;
  position: relative;
  display: inline-block;
}
.invitation-first-cta {
  background-image: url("/assets/home/champagner-toasting-new-year-s-eve-drink.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  margin-bottom: 10px;
}
.invitation-text {
  font-family: Playfair display;
  color: white;
}
.invitation-second-cta {
  background-image: url("/assets/home/red-couple-night-romantic.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  margin-right: 5px;
}
.invitation-third-cta {
  background-image: url("/assets/home/new-year-s-eve-ceremony-champagne-sparkling-wine.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  margin-left: 5px;
}

.news-title,
.news-subtitle {
  text-align: center;
}

/*Contact info*/

.contact-image {
  position: relative;
  width: 100%;
}

.contact-email .contact-phone {
  position: absolute;
  top: 100px;
}

.contact {
  text-align: center;
  color: #FFFFF2;
  /*position: relative;*/
  background-image: url("/assets/home/grapes.jpg");
  background-size: 100vw;
  height: 990px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: playfair;
  margin-bottom: 0;
}

.contact-details {
  margin-top: 40px;
}
.contact-details-usp {
  font-size: 3.5em;
  margin-bottom: 15px;
}
.contact-details-help {
  font-size: 1.8em;
}

.contact-details-line {
  border-bottom: 2px solid #daa520;
  width: 50px;
  position: relative;
  left: 180px;
  margin-bottom: 30px;
}
.contact-details-phone, .contact-details-email {
  border: solid 1px white;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 10px;
  color: white;
}

/*Footer*/
.footer {
  background-color: grey;
  text-align: center;
  margin-top: 0;
}
.footer-logo {
  font-size: 1.5em;
}
.footer-menu {
  text-decoration: none;
  list-style: none;
  font-size: 0.65em;
}

.footer-menu-weiss .footer-menu-rot .footer-menu-schaum .footer-menu-rebsorten .footer-menu-winzer {
  font-size: 0.5em;
}
.footer-sitemap-border {
  border-right: 1px solid blue;
  padding: auto 10px;
  width: 2px;
}

.footer-copyright {
  font-size: 0.5em;
}
